<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiquetes de Descuento</title>

    <link rel="stylesheet" href="/stylesheets/listatiquetes.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    {{> header}}
    <div class="container">
        <h1 style="margin-top : 2rem; margin-bottom : 2rem" id="listaConsecutivos" class="text-center">{{title}}</h1>
        <!-- Search form -->
        <form class="form-inline md-form mr-auto mb-4 needs-validation" method="post" action="/listaTiquetes/filtrarListaTiquetes">
            <input id="inputBusqueda" name="inputBusqueda" class="form-control mr-sm-2" type="text" placeholder="Digite el ID" aria-label="Search" required>
            <button class="btn btn-info" type="submit">Buscar</button>
            <button type="button" class="btn btn-info" style="margin-left : 1rem" onclick="location.href='/listaTiquetes/listarTodosTiquetes'">Refrescar Lista</button>
            <button type="button" class="btn btn-info" style="margin-left : 1rem" onclick="location.href='/infotiquetes/listarID'">Agregar nuevo o editar</button>
            <button id="btnEliminar" type="button" class="btn btn-info" style="margin-left : 1rem" onclick="funcionEliminar()">Eliminar</button>
        </form>
        <div id="bodyListSection" class="overflow-auto">

            <table class="table table-hover" style="width:100%; height:auto;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>Disponibles</th>
                        <th>Descuento</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each resultado}}
                    <tr>
                        <td>{{idTiqueteDescuento}} </td>
                        <td>{{descripcionTiqueteDeDescuento}}</td>
                        <td>{{disponiblesTiqueteDeDescuento}}</td>
                        <td>{{descuentoTiqueteDeDescuento}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <h1 style="text-align: center; color: #A94442; border-radius: 1rem; background-color: #F3DEDE; ">
                {{mensaje}}
            </h1>
        </div>
    </div>

    <script>
        function funcionEliminar() {

            btnEliminar.setAttribute("formaction", "../listatiquetes/eliminarRegistro")
            btnEliminar.setAttribute("type", "submit");
        }
    </script>
</body>

</html>