<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lineas de Comida</title>

    <link rel="stylesheet" href="/stylesheets/listalineacomida.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    {{> header}}
    <div class="container">

        <h1  style="margin-top : 2rem; margin-bottom : 2rem" class="text-center">Lista Lineas de Comida</h1>

        <div id="bodyListSection" class="overflow-auto">

            <table class="table table-hover" style="width:100%; height:auto;">
                <thead>
                    <tr>
                        <th>Codígo</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each LineaComida}}
                    <tr>
                        <td name="id{{idLineaDeComida}}">LC-{{idLineaDeComida}} </td>
                        <td name="nombre{{idLineaDeComida}}">{{nombreLC}}</td>
                        <td name="descripcion{{idLineaDeComida}}">{{descripcionLC}}</td>
                        <td><a href="/infolineacomida"><button>Agregar</button></a></td>
                        <td><a href="/infolineacomida"><button>Editar</button></a></td>
                        <td><a href="/infolineacomida"><button>Eliminar</button></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <a href="/ListaLineaComida/mostrarLineaComida">
                <button>
                    Recargar
                </button>
            </a>

        </div>
        
    </div>

</body>

</html>