<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos</title>

    <link rel="stylesheet" href="/stylesheets/listaproductos.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    {{> header}}
    <div class="container">

        <h1 style="margin-top : 2rem; margin-bottom : 2rem" class="text-center">Lista Productos</h1>
        <div id="bodyListSection" class="overflow-auto">

            <table class="table table-hover" style="width:100%; height:auto;">
                <thead>
                    <tr>
                        <th>Codígo</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each LineaComida}}
                    <tr>
                        <td name="id{{idLineaDeComida}}">LC-{{idLineaDeComida}} </td>
                        <td name="nombre{{nombreLC}}">{{nombreLC}}</td>
                        <td name="descripcion{{descripcionLC}}">{{descripcionLC}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <a href="/ListaProductos/mostrarLineaComida">
                <button>
                    Recargar
                </button>
            </a>

        </div>
    </div>

    <div class="container">
        <div id="bodyListSection" class="overflow-auto">

            <table class="table table-hover" style="width:100%; height:auto;">
                <thead>
                    <tr>
                        <th>Codígo</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Nombre - Linea de Comida</th>
                        <th>Contenido</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Producto}}
                    <tr>
                        <td name="id{{idProductos}}">PR-{{idProductos}} </td>
                        <td name="nombre{{nombre}}">{{nombre}}</td>
                        <td name="descripcion{{descripcion}}">{{descripcion}}</td>
                        <td name="nombreLC{{nombreLC}}">{{nombreLC}}</td>
                        <td name="contenido{{contenido}}">{{contenido}}</td>
                        <td><a href="/infoproductos"><button>Agregar</button></a></td>
                        <td><a href="/infoproductos"><button>Editar</button></a></td>
                        <td><a href="/infoproductos"><button>Eliminar</button></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <a href="/ListaProductos/mostrarProducto">
                <button>
                    Recargar
                </button>
            </a>

        </div>
    </div>

</body>

</html>